paths:
    migrations: '%%PHINX_CONFIG_DIR%%/db/migrations'
    seeds: '%%PHINX_CONFIG_DIR%%/db/seeds'

environments:
    default_migration_table: phinxlog
    default_database: development
    development:
        adapter: mysql
        host: 'ENV_DB_HOST'
        name: 'ENV_DB_NAME'
        user: 'ENV_DB_USER'
        pass: 'ENV_DB_PASS'
        port: 3306
        charset: utf8
version_order: creation
